# Windowsの自動生成ファイル（隠しファイル）
*.ini
desktop.ini
Thumbs.db

# Playwright・Node.js関連の自動生成フォルダ
node_modules/
playwright-report/
test-results/
blob-report/
.git/

# その他不要なシステムファイル
.DS_Store

# 環境ファイル
.env
.env.*
!.env.example   # サンプル用ファイルだけは共有したい場合に残す設定